* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 106px;
    --current-color: grey;
}


/*******************
      GENERALI
*******************/


li, button {
    cursor: pointer;
}

button, a.btn {
    padding: 0.5em 1em;
    border: none;
    color: white;
}


.ms_bg-dark {
    --current-color: #363636;
    background-color: var(--current-color);
    color: white;
}

.ms_rounded {
    border-radius: 40px;
}


.ms_btn-inset:hover {
    box-shadow: inset 0 0 0 3px white,
                0 0 0 2px var(--current-color);
    transition: 0.3s;
}

a.ms_link:hover {
    color: #1da1f3;
    font-weight: 500;
}


a.btn.btn-primary-reverse {
    background-color: white;
    color: #2d64e6 !important;
}

a.btn.transparence {
    background-color: rgba(255,255,255, 0.5);
}

a.btn.transparence:hover {
    background-color: white;
}


header {
    height: var(--header-height);
}

.header-top {
    background-color: black;
}

.header-bottom {
    background-color: white;
}

.logo-brand {
    height: 20px;
}


nav li.ms_dropdown > a::after {
    content:"";
    background: url("img/chevron-down-solid.svg");
    background-repeat: no-repeat;
    width: 0.7em;
    height: .7em;
    display: inline-block;
    margin-left: .455em;
    vertical-align: middle;
}

nav li.ms_dropdown > a:hover::after, nav li.ms_dropdown > a.show::after {
    background: url("img/chevron-down-solid-hover.svg");
    background-repeat: no-repeat;
}

nav li.ms_dropdown > a.show::after{
    transform: rotate(180deg);
}

.navbar-nav .ms_dropdown a.nav-link {
    color: black;
}

ul.nav-left, ul.nav-right {
    margin-left: 1em;
    vertical-align: middle;
}

ul.nav-right li:last-child {
    margin-left: 1em;
}

li.search img {
    width: 1.5em;
    height: 100%;
    vertical-align: bottom;
}




.jumbotron .btn {
    background-color: #cd3d0f;
    color: white;
    border: 2px solid #cd3d0f !important;
}


.jumbotron .btn:hover {
    box-shadow: inset 0 0 0 5px rgba(0,0,0,0.9);
}




.pcard {
    text-decoration: none;
    display: block !important;
    width: 100%;
}

.pcard:hover {
    display: block;
    box-shadow: 1px 2px 5px rgba(0,0,0, 0.5);
}

.pcard span {
    display: block;
}


.sublink {
    margin: 0 1em;
}

.sublink a {
    text-decoration: none;
    color: black;
}

body > section:first-of-type {
    margin-top: var(--header-height);
}

section [class*='container'] {
    padding: 0 100px;
}


section#returnal {
    min-height: 700px;
    background-image: url(img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.jumbotron {
    position: relative;
    min-height: 700px;
}

.jumbotron .jumbotron-content {
    position: absolute;
    bottom: 50px;
}

.jumbotron .jumbotron-desc {
    color: white;
    width: 80%;
    margin-bottom: 40px;
}




[class*='col'] img {
    width: 100%;
    object-fit: contain;
}

[class*="col"] img.content-logo {
    height: 100px;
    margin: 0 0 2rem 0;
    padding: 0;
    object-fit: unset; /* per annullare il precedente contain */
}



.gallery-banner img {
    border-radius: 20px;
}

.gallery a {
    text-decoration: none;
    color: #888888;
}


.slogan {
    text-transform: uppercase;
    color: #167ed2;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.subtitle, .caption {
    color: #727272;
    font-weight: 400;
    font-size: 1.2rem;
}


section h1 {
    margin-bottom: 3rem;
}





.border-frame, .gallery-banner a.active img{

    box-shadow: 0 0 0 3px white,
                0 0 0 5px #167ed2;
}


.thumb {
    opacity: 0.7;
    max-height: 120px;
}

a.active .thumb, .thumb:hover {
    opacity: 1 !important;
}

.gallery a.active {
    color: black;
    display: block;
    position: relative;
}

.gallery .col.active {
    border-bottom: 2px solid #4095da;
}


section#it-takes-two {
    min-height: 700px;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#new-releases {
    background-color: #1f1f1f;
    color: white;
}


section .btn {
    --current-color: #2d64e6;
    background-color: var(--current-color);
    color: white;
}


span.registered-mark {
    font-weight: 200 !important;
    font-size: 2rem;
}

.row .ms_card-style {
    border: none;
    width: auto;
    display: inline-block;
}

.ms_card-style .card-body {
    padding: 0;
}

section#ps4 {
    min-height: 650px;
}

:is(h1,h2,h3,h4,h5,h6) {
    line-height: 1.4;
}

section h1 {
    margin-bottom: 2rem !important;
}


section#ps-plus {
    background-color: #bebcbb;
}

section#ps-now {
    background-color: #161c3b;
    color: white;
}

